---
layout: mp
title: Archive
---
    <article>
      <h2>{{ page.title }}</h2>{% for post in site.posts %}{% assign archiveMonthYear = post.date | date: "%B %Y" %}{% assign archiveNextMonthYear = post.next.date | date: "%B %Y" %}{% if archiveMonthYear != archiveNextMonthYear %}{% if forloop.index != 1 %}
      </ul>{% endif %}
      <h3>{{ post.date | date: "%B %Y" }}</h3>
      <ul class="archive">{% endif %}
        <li><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d" }}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify }}</a></li>{% endfor %}
      </ul>
    </article>