  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="mask-icon" href="/pow7.svg" color="#678fa5" />
  <link rel="icon" sizes="any" mask href="/pow8.svg" />
  <meta name="theme-color" content="#678fa5" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/css.css" />
  <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/index.xml" />
  <script src="//use.typekit.net/mvt5ews.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
