  <header><a href="{{ site.baseurl }}/">{{ site.title }}</a></header>
  <div id="skiptocontent"><a href="#content">Skip to content</a></div>
  <nav>
    <ul class="navigation">
      <li id="archive"><a href="{{ site.baseurl }}/archive">Archive</a></li>
      <li id="projects"><a href="{{ site.baseurl }}/projects">Projects</a></li>
      <li id="colophon"><a href="{{ site.baseurl }}/colophon">Colophon</a></li>
      <li id="feed"><a href="{{ site.baseurl }}/index.xml">Feed</a></li>
    </ul>
  </nav>
  <h1>I&#8217;m sorry, Dave. I&#8217;m afraid I can&#8217;t do that.</h1>