<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}{% if site.title == page.title %}{% else %}: {{ page.title }}{% endif %}</title>
{% include head.html %}
</head>
<body>
{% include header.html %}
  <section class="content">
    <article{% if page.modifier %} id="{{ page.modifier }}"{% endif %}>
      <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
      <time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-clock-o"></i> {{ page.date | date: "%B %-d, %Y" }}</time>
      {{ content }}    </article>
  </section>
{% include footer.html %}
</body>
</html>