<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}{% if site.title == page.title %}{% else %}: {{ page.title }}{% endif %}</title>
{% include head.html %}
</head>
<body>
{% include header.html %}
  <section class="content">
    <article{% if page.modifier %} id="{{ page.modifier }}"{% endif %}>
      <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {{ content }}    </article>{% if page.link %}{% else %}
    {% if page.previous or page.next %}<ul class="pagination">
      {% if page.previous %}<li class="prev"><a href="{{ site.baseurl }}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>{% endif %}{% if page.next %}<li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &rarr;</a></li>{% endif %}
    </ul>{% endif %}{% endif %}
  </section>
{% include footer.html %}
</body>
</html>