<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include header.html %}
  <section class="content" id="content">
    <article{% if page.modifier %} id="{{ page.modifier }}"{% endif %}>
      {% if page.link %}<h2 class="link"><a href="{{ page.link }}">{{ page.title }}</a> <span><a href="{{ site.baseurl }}{{ page.url }}" title="Permalink to ‘{{ page.title }}’">&#8734;</a></span></h2>{% else %}<h2><a href="{{ site.baseurl }}{{ page.url }}" title="Permalink to ‘{{ page.title }}’">{{ page.title }}</a></h2>{% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {{ content }}    </article>{% if page.link %}{% else %}
    {% if page.previous or page.next %}<ul class="pagination">
      {% if page.previous %}<li class="prev"><a href="{{ site.baseurl }}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a></li>{% endif %}{% if page.next %}<li class="next"><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &rarr;</a></li>{% endif %}
    </ul>{% endif %}{% endif %}

    {% for post in site.posts %}
      {% if post.url == page.url %}
      {% unless post.category %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
      {% endunless %}
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if post_index0 == forloop.index %}
        {% assign next_post = post.url %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post.url %}
      {% endif %}
    {% endfor %}

    {{ prev_post }}<br/>{{ next_post }}

  </section>
{% include footer.html %}
</body>
</html>